In [2]:
# Imports 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.holtwinters import SimpleExpSmoothing

# Carregando os Dados

In [3]:
# Carrega o dataset 
df = pd.read_csv('dataset.csv')

In [4]:
df.shape

(365, 2)

In [5]:
df.columns

Index(['Data', 'Total_Vendas'], dtype='object')

In [6]:
df.head()

         Data  Total_Vendas
0  2023-01-01     53.483571
1  2023-01-02     57.176993
2  2023-01-03     63.087722
3  2023-01-04     62.103987
4  2023-01-05     44.690396

In [7]:
df.tail()

           Data  Total_Vendas
360  2023-12-27     74.935570
361  2023-12-28     71.374857
362  2023-12-29     57.806920
363  2023-12-30     62.340244
364  2023-12-31     71.650720